@model AlunoTeste.ViewModels.MatriculaViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Nova matricula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Aluno" class="control-label"></label>
                <select asp-for="Aluno.AlunoId" class="form-control">
                    <option value="">-----</option>
                    @foreach (var aluno in Model.Alunos)
                    {
                        <option value="@aluno.AlunoId" >@aluno.Nome</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Curso" class="control-label"></label>
                <select asp-for="Curso.CursoId" class="form-control">
                    <option value="">-----</option>
                    @foreach (var curso in Model.Cursos)
                    {
                        <option value="@curso.CursoId">@curso.Titulo</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <select asp-for="Nota" class="form-control">
                    @foreach (var nota in Model.Notas)
                    {
                        <option>@nota</option>
                    }
                </select>
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
