@model IEnumerable<Matricula>

@{
    ViewData["Title"] = "Details";
}

<h4>@ViewBag.NomeAluno</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

 
        @foreach (var matricula in Model)
        {
            <tr>
                <td> @matricula.Curso.Titulo</td>
                <td> @matricula.Nota</td>
                <td>
                    <a asp-controller="Matricula" asp-action="Edit" asp-route-id="@matricula.Id">Edit</a> | 
                    <a asp-controller="Matricula" asp-action="Delete" asp-route-id="@matricula.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
